<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h4>Wander lust all listings</h4>
  <!-- <form action="/listings/new" method="get">
    <button>Create new listing</button>
  </form> -->
  <ul>
    <%for (const listing of allListings) {%>
    <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
    <%}%>
  </ul>
</body>
